<!-- Footer Start -->
<style>
    .footer {
        bottom: 0;
        padding: 0px 15px 5px;
        position: absolute;
        right: 0;
        color: #8c9194;
        left: 0;
        background-color: #e3e9ed;
    }
</style>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="top:12px">
                <script>document.write(new Date().getFullYear())</script> © Unified Streaming Platform by <a
                    href="#">Skandha</a>
            </div>
            <div class="col-md-6" style="top:12px">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div>
            </div>
            <div class="col-md-6 pt-1" style="color: #98a6ad;">
                Version 1.10
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->