<% include /partials/header.html %>

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    /* CSS for tooltip */
    .save-copy-info {
        font-size: 1rem;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }

    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }

    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    .tab-content {
        padding: 20px;
        border: 2px solid #dee2e6;
        border-top: none;
    }

    .content-detail dt,
    .content-detail dd {
        padding: .55rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #dee2e6;
    }

    /* .align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
} */
    .dropdown-menu.show {
        top: 37% !important;
        right: 45px !important;
        min-width: 6rem !important;
        transform: translate3d(-169px, -127px, 0px) !important
    }

    .force-hidden {
        display: none;
    }
</style>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 51px;
        height: 28px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<% include /partials/topbar.html %>


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">
        <!-- <div class="row">
            <i class="mdi mdi-close-circle" style="font-size: 27px;" id="getdataclose"></i>
            </div>
        </div> -->
        <!-- start page title -->
        <div class="row">
            <div class="col-md-12" id="channel-listing-div">
                <div class="card-box">
                    <div class="p-2" style="float: left;">
                        <h4 class="mt-0 header-title">ELB Rule Listing</h4>
                    </div>
          

                    <div class="p-2" style="float: right;">
                      
                        <% if (userRole == 'Admin' || userRole == 'Operator') { %>
                            <button type="button" class="btn custome-button waves-effect width-md  btn-sm"
                                data-toggle="modal" data-target="#exampleModalScrollable"><i
                                    class="mdi mdi-plus  mr-1"></i><span>Create ELB Rule</span></button>
                            <!-- <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                                    class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button> -->
                                    <% } else if(userRole == 'Monitoring') { %>
                                   
                                        <!-- <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                                            class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button> -->
                                       
    
                                        <% }  %>

                    </div>

                    <div class="table-responsive">
                        <table class="table tablesorter" id="alb_listing_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Creation Date</th>
                                    <th>Target</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="abl_listing_tbody">

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

         
        </div> <!-- end row -->

        <!-- Create Channel Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalScrollableTitle">Create Rule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-creation-form' data-parsley-validate novalidate>
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name Of Channel</label>
                                        <select id="channel-name" class="custom-select" >
                                            <option selected>Select Channel</option>
                                            <option value="GeminiMusic">GeminiMusic</option>
                                            <option value="GeminiTVHD">GeminiTVHD</option>
                                            <option value="GeminiLife">GeminiLife</option>
                                            <option value="KushiTV">KushiTV</option>
                                            <option value="SunBangla">SunBangla</option>
                                            <option value="GeminiMusicHD">GeminiMusicHD</option>
                                            <option value="GeminiComedy">GeminiComedy</option>
                                            <option value="GeminiMovies">GeminiMovies</option>
                                            <option value="SunMusicHD">SunMusicHD</option>
                                            <option value="GeminiMoviesHD">GeminiMoviesHD</option>
                                            <option value="GeminiTV">GeminiTV</option>
                                            <option value="SunLife">SunLife</option>
                                            <option value="ChuttiTV">ChuttiTV</option>
                                            <option value="SunMusic">SunMusic</option>
                                            <option value="SunNews">SunNews</option>
                                            <option value="KTV">KTV</option>
                                            <option value="SunTV">SunTV</option>
                                            <option value="SunTVHD">SunTVHD</option>
                                            <option value="KochuTV">KochuTV</option>
                                            <option value="UdayaComedy">UdayaComedy</option>
                                            <option value="SuryaTVHD">SuryaTVHD</option>
                                            <option value="SuryaMusic">SuryaMusic</option>
                                            <option value="SuryaComedy">SuryaComedy</option>
                                            <option value="SuryaMovies">SuryaMovies</option>
                                            <option value="SuryaTV">SuryaTV</option> 
                                            <option value="UdayaTV">UdayaTV</option>
                                            <option value="ChintuTV">ChintuTV</option>
                                            <option value="UdayaMusic">UdayaMusic</option>
                                            <option value="UdayaMovies">UdayaMovies</option>
                                            <option value="KTVHD">KTVHD</option>
                                            <option value="AdithyaTV">AdithyaTV</option>
                                            <option value="UdayaTVHD">UdayaTVHD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        
                            <button type="submit" class="btn custome-button waves-effect create_channel btn-sm">Create
                                Channel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



      

  


        <!-- end page title -->

        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->





<% include ./partials/right-sidebar.html %>

<% include ./partials/foot.html %>

<% include ./partials/footer.html %>

<script src="../assets/libs/switchery/switchery.min.js"></script>

<script src="../../custom/js/create_channel/alb.js"></script>

</body>

</html>