<% include /partials/header.html %>

<style>
    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    a {
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }

    .card-box-shaddow{

        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
</style>

<body>
    <% include /partials/topbar.html %>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card-box">

                        
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                               
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                               
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <h4 class="header-title mt-0 mb-4">All Channels</h4>

                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="total-channels-graph-count" id='total-channels-graph-count'/>
                            </div>

                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id="total-channels">  </h2>
                                <p class="text-muted mb-1">All Channels</p>
                            </div>
                        </div>
                    </div>

                </div> -->

                <div class="col-xl-3 col-md-6">
                    <div class="card-box card-box-shaddow">


                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a href="javascript:void(0);" class="dropdown-item">Action</a>

                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>

                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>

                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <a id='All-Servers-href'>
                            <h4 class="header-title mt-0 mb-4">All Servers</h4>
                        </a>

                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="total-servers-graph-count" id='total-servers-graph-count' />
                            </div>

                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id="total-servers"> </h2>
                                <p class="text-muted mb-1">All Servers</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card-box card-box-shaddow" style="height: 179px;">
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <a id='primary-Servers-href'>
                            <h4 class="header-title mt-0 mb-3">Primary Servers</h4>
                        </a>


                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="totalprimaryservers-graph-count" id='totalprimaryservers-graph-count' />
                            </div>
                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id='totalprimaryservers'> </h2>
                                <p class="text-muted mb-1">Primary Servers</p>
                            </div>
                        </div>

                    </div>

                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <div class="card-box card-box-shaddow">
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <a id='backup-Servers-href'>
                            <h4 class="header-title mt-0 mb-4">Backup Servers</h4>
                        </a>

                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="totalbackupservers-graph-count" id='totalbackupservers-graph-count' />
                            </div>
                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id='totalbackupservers'> </h2>
                                <p class="text-muted mb-1">Backup Servers</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->
                   
                <div class="col-xl-3 col-md-6">
                    <div class="card-box card-box-shaddow" style="height: 179px;">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <a id='in-progress-href'>
                            <h4 class="header-title mt-0 mb-3">Primary Channels</h4>
                        </a>


                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="totalprimarychannels-graph-count" id='totalprimarychannels-graph-count' />
                            </div>
                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id='totalprimarychannels'> </h2>
                                <p class="text-muted mb-1">Primary Channels</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->


            </div>
            <!-- end row -->
            <div class="row">

               

                <div class="col-xl-3 col-md-6">
                    <div class="card-box card-box-shaddow">
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <a id='backup-channel-href'>
                            <h4 class="header-title mt-0 mb-4">Backup Channels</h4>
                        </a>

                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input class="totalbackupchannels-graph-count" id='totalbackupchannels-graph-count' />
                            </div>
                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1" id='totalbackupchannels'> </h2>
                                <p class="text-muted mb-1">Backup Channels</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="card-box card-box-shaddow">
                        <h4 class="header-title mt-0 mb-3">State Of Primary Channel</h4>
                       
                         <div class="widget-chart text-center">
                            <div id="morris-donut-example" style="height: 245px;" class="morris-chart" dir="ltr"></div>
                            <ul class="list-inline chart-detail-list mb-0">
                                <li class="list-inline-item">
                                    <a href="/v1/startChannelListing"> <h5 style="color: #ff8acc;"><i class="fa fa-circle mr-1"></i>Start</h5></a>
                                </li>
                                <li class="list-inline-item" >
                                 <a href="/v1/stopChannelListing"> <h5 style="color: #5b69bc;" id='backup-Servers-href'><i class="fa fa-circle mr-1"></i>Stop</h5></a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="/v1/idleChannelListing"> <h5 style="color: rgb(53, 184, 224)"><i class="fa fa-circle mr-1"></i>Idle</h5></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="card-box card-box-shaddow">
                        <h4 class="header-title mt-0 mb-3">State Of Backup Channel</h4>
                        <div class="widget-chart text-center">
                            <div id="morris-donut-example_backup" style="height: 245px;" class="morris-chart" dir="ltr"></div>
                            <ul class="list-inline chart-detail-list mb-0">
                                <li class="list-inline-item">
                                    <a href="/v1/startBackupChannelListing"> <h5 style="color: #ff8acc;"><i class="fa fa-circle mr-1"></i>Start</h5></a>
                                </li>
                                <li class="list-inline-item" >
                                 <a href="/v1/stopBackupChannelListing"> <h5 style="color: #5b69bc;" id='backup-Servers-href'><i class="fa fa-circle mr-1"></i>Stop</h5></a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="/v1/idleBackupChannelListing"> <h5 style="color: rgb(53, 184, 224)"><i class="fa fa-circle mr-1"></i>Idle</h5></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- end container -->
    </div>


    <!-- end wrapper -->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->




    <% include /partials/right-sidebar.html %>

    <% include /partials/foot.html %>
    
    <% include /partials/footer.html %>

    <script src="../../custom/js/analytics/analytics.js"></script>

 
</body>

</html>