<% include /partials/header.html %>

<style>
    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }
    a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    }
    a:hover {
    color:  #ffffff;
    text-decoration: none;
}
</style>

<body>
    <% include /partials/topbar.html %>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card-box">
                        <div class="p-1" style="float: left;">
                            <h4 class="header-title mt-0 mb-3">Backup Server Listing</h4>
                        </div>
                        <div class="p-1" style="float: right;">
                            <div class="btn-group dropdown">
                              
                             
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table tablesorter " id="ec2_backuptable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Usp Version</th>
                                        <th>Public IP</th>
                                        <th>State</th>
                                        <!-- <th>Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody id="ec2_backuptbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
            <!-- end row -->

        </div> <!-- end container -->
    </div>


    <!-- end wrapper -->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    <% include ./partials/right-sidebar.html %>


    <% include /partials/foot.html %>


    <% include /partials/footer.html %>


    <script src="../../custom/js/analytics/backupServerListing.js"></script>



</body>

</html>