<% include /partials/header.html %>

<style>
    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    a {
        color: #71b6f9;
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        color: #71b6f9;
        text-decoration: none;
    }
    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }
</style>

<body>
    <% include /partials/topbar.html %>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12" id="channel-listing-div">
                    <div class="card-box">
                        <div class="p-1" style="float: left;">
                            <h4 class="header-title mt-0 mb-3">Idel Channel Listing</h4>
                        </div>
                        <div class="p-1" style="float: right;">
                            <div class="btn-group dropdown">
                            </div>
                        </div>
                        <div class="p-2" style="float: right;">
                        <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                            class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table tablesorter" id="idel_state_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Creation Date</th>
                                        <th>Server Name</th>
                                        <th>State</th>
                                       
                                       
                                       
                                        <!-- <th>Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody id="idel_state_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->

                <div id="UpdateModalbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalScrollableTitle">Update Channel</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id='channel-updation-form' data-parsley-validate novalidate>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name Of Channel</label>
                                                <input type="text" class="form-control" id="update-channel-name"
                                                    aria-describedby="" placeholder="Name Of Channel">

                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Creator</label>
                                                <input type="text" class="form-control" id="update-creator"
                                                    aria-describedby="" placeholder="Enter Creator">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Lookahead Fragments</label>
                                                <input type="text" class="form-control" id="update-lookahead-fragments"
                                                    aria-describedby="" placeholder="Enter Lookahead Fragmentsn">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">DVR Window Length</label>
                                                <input type="text" class="form-control" id="update-dvr-window-length"
                                                    aria-describedby="" placeholder="Enter DVR Window Length">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Archive Segment Length</label>
                                                <input type="text" class="form-control"
                                                    id="update-archive-segment-length" aria-describedby=""
                                                    placeholder="Enter Archive Segment Length">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Archiving</label>
                                                <input type="text" class="form-control" id="update-archiving"
                                                    aria-describedby="" placeholder="Enter Archiving">
                                                <!-- <select class="custom-select mt-3">
                                                <option id="update-archiving" selected>Select Archiving</option>
                                                <option value="True">True</option>
                                                <option value="False">False</option>
                                              
                                            </select> -->
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Archive Length</label>
                                                <input type="text" class="form-control" id="update-archive-length"
                                                    aria-describedby="" placeholder="Enter Archive Length">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Restart on Encoder Reconnect</label>
                                                <input type="text" class="form-control"
                                                    id="update-Restart-Encoder-Reconnect" aria-describedby=""
                                                    placeholder="Enter Restart on Encoder Reconnect">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">iss Minimum Fragment Length</label>
                                                <input type="text" class="form-control"
                                                    id="update-iss-Minimum-Fragment-Length" aria-describedby=""
                                                    placeholder="Enter iss Minimum Fragment Length">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">hls Minimum Fragment Length</label>
                                                <input type="text" class="form-control"
                                                    id="update-hls-Minimum-Fragment-Length" aria-describedby=""
                                                    placeholder="Enter hls Minimum Fragment Length">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Server</label>
                                                <select id="update-server-Ip" class="custom-select"></select>
                                            </div>

                                        </div>
                                        <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Bacakup Server</label>
                                        <select id="backup-update-server-Ip" class="custom-select"></select>
                                    </div>
                                    
                                    </div> -->
                                        <!-- <div class="row"> -->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div id="updatedivcheckbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Backup Server Name</label>
                                                <select id="update-backupserver-div" class="custom-select">
                                                    <!-- <option selected="">Backup Server Name</option> -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                            <label for="exampleInputEmail1">Object Id</label>
                                            <input type="text" class="form-control" id="update-Object-Id" aria-describedby="" placeholder="Enter Object Id">
                                            
                                        </div> -->

                                    <button type="submit"
                                        class="btn custome-button waves-effect update_channel_parameter btn-sm">Update
                                        Channel</button>
                                </form>

                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
                <!-- Preview video modal content -->
                <div id="play-video-channel" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="asset-title" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">
                                    <i class="mdi mdi-play-speed"></i>Preview Channel
                                </h4>

                                <button type="button" class="close close-modal-btn" data-dismiss="modal"
                                    aria-hidden="true" onclick="player.reset()">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12" id="divPlayVideo">
                                        <video id="channelurlplayer"
                                            class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls
                                            preload="auto" height="350" data-setup='{"liveui": true}'>
                                            <source src="" type="">
                                        </video>
                                        <h5 class="modal-title preview-modal-asset-title"
                                            id="preview-modal-asset-title"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                                    onclick="player.reset()">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- end row -->
        </div> <!-- end container -->
    </div>


    <!-- end wrapper -->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    <% include ./partials/right-sidebar.html %>

    <% include /partials/foot.html %>

    <% include /partials/footer.html %>


    <script src="../../custom/js/analytics/idleChannelListing.js"></script>
    
  
</body>

</html>