<% include /partials/header.html %>

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    /* CSS for tooltip */
    .save-copy-info {
        font-size: 1rem;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }

    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }

    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    .tab-content {
        padding: 20px;
        border: 2px solid #dee2e6;
        border-top: none;
    }

    .content-detail dt,
    .content-detail dd {
        padding: .55rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #dee2e6;
    }

    /* .align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
} */
    .dropdown-menu.show {
        top: 37% !important;
        right: 45px !important;
        min-width: 6rem !important;
        transform: translate3d(-169px, -127px, 0px) !important
    }

    .force-hidden {
        display: none;
    }
</style>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 51px;
        height: 28px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<% include /partials/topbar.html %>


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">
        <!-- <div class="row">
            <i class="mdi mdi-close-circle" style="font-size: 27px;" id="getdataclose"></i>
            </div>
        </div> -->
        <!-- start page title -->
        <div class="row">
            <div class="col-md-12" id="channel-listing-div">
                <div class="card-box">
                    <div class="p-2" style="float: left;">
                        <h4 class="mt-0 header-title">Channel Listing</h4>
                    </div>
                    <!-- <div class="p-2" style="float: right;"> <</div> -->

                    <div class="input-group-append p-2" style="float: right;">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-filter-outline"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
                            <button type="button"
                                class="btn custome-button waves-effect width-md  btn-sm primary">Primary
                                channel</button><br><br>
                            <button type="button" class="btn custome-button waves-effect width-md  btn-sm backup">Backup
                                channel</button>
                        </div>
                    </div>

                    <div class="p-2" style="float: right;">
                        <!-- <button type="button" id="channellistig_backup"  class="btn btn-success waves-effect waves-light btn-sm ml-1 listing-button">
                            ChannelBackup </button> -->

                        <!-- <div class="btn-group dropdown">
                            <button type="button" class="btn btn-success waves-effect waves-light btn-sm">Server
                                Listing</button>
                            <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light btn-sm"
                                data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-chevron-down"></i></button>
                            <div id="serverlistig" class="dropdown-menu">
                            </div>
                        </div> -->


                        <% if (userRole == 'Admin' || userRole == 'Operator') { %>
                            <button type="button" class="btn custome-button waves-effect width-md  btn-sm"
                                data-toggle="modal" data-target="#exampleModalScrollable"><i
                                    class="mdi mdi-plus  mr-1"></i><span>Create Channel</span></button>
                            <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                                    class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button>
                                    <% } else if(userRole == 'Monitoring') { %>
                                   
                                        <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                                            class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button>
                                       
    
                                        <% }  %>

                    </div>

                    <div class="table-responsive">
                        <table class="table tablesorter" id="channel_listing_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Creation Date</th>
                                    <th>Server Name</th>
                                    <th>State</th>
                                    <th>Backup Created</th>
                                    <th>Action</th>
                                    <th>Play</th>
                                </tr>
                            </thead>
                            <tbody id="channel_listing_tbody">

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class="col-md-4 force-hidden mb-4" style="height:477px;overflow-y:auto;background-color: white;"
                id="edit-asset-div">

                <!-- <div class=""> -->
                <i class="mdi mdi-close-circle" style="font-size: 27px;" id="close-edit-metadata-panel-btn"></i>
                <!-- </div> -->

                <div class="row">
                    <div class="col-md-11">
                        <h4 id="edit-asset-title" style="margin: 6px 0;"></h4>
                    </div>
                </div>

                <!-- <div class="" >
                            <video id="asset-player" class="video-js vjs-big-play-centered w-100" controls preload="auto"
                                height="200">
                                <source src="" type="">
                            </video>
                          
                        </div> -->

                <ul class="nav nav-tabs nav-justified mt-2">
                    <li class="nav-item">
                        <a href="#technical-data" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block"><i class="mdi mdi-square-edit-outline mr-1"></i>Channel
                                Details</span>
                        </a>
                    </li>
                </ul>

                <div class="" style="display:visible! important">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="technical-data">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 force-hidden" id="getquery">

                <div class="row">
                    <i class="mdi mdi-close-circle" style="font-size: 27px;" id="getdataclose"></i>
                </div>
                <div id="getquerydata"></div>
                <!-- <div class="row"> -->
            </div>
        </div> <!-- end row -->

        <!-- Create Channel Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalScrollableTitle">Create Channel</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-creation-form' data-parsley-validate novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Server</label>
                                        <select id="server-Ip" class="custom-select"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name Of Channel</label>
                                        <input type="text" class="form-control" id="channel-name" autocomplete="off"
                                            aria-describedby="" required placeholder="Name Of Channel">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <div id="divcheckbox">
                                           </div> -->
                                        <div class="checkbox checkbox-success form-check-inline"> <input type="checkbox"
                                                name="fname" class="checkboxbackup" id="checkboxbackup"
                                                serverkeywordname=' + InstanceName + ' onclick="check()"
                                                value="option1"> <label for="inlineCheckbox2"> Backup Server </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 force-hidden" id="backupOnCheck">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Backup Server</label>
                                        <select id="backupserver-div" class="custom-select">
                                            <option selected="">Empty</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Creator</label>
                                        <!-- <input type="text" class="form-control" id="archiving" aria-describedby="" placeholder="Enter Archiving"> -->
                                        <select id="creator" class="custom-select">
                                            <option selected>Select Creator</option>
                                            <option value="Unified Streaming Platform (USP)">Unified Streaming Platform
                                                (USP)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lookahead Fragments</label>
                                        <input type="number" class="form-control" id="lookahead-fragments"
                                            autocomplete="off" aria-describedby="" required
                                            placeholder="Enter Lookahead Fragmentsn">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">DVR Window Length</label>
                                        <input type="number" class="form-control" id="dvr-window-length"
                                            autocomplete="off" aria-describedby="" required
                                            placeholder="Enter DVR Window Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Segment Length</label>
                                        <input type="number" class="form-control" id="archive-segment-length"
                                            autocomplete="off" aria-describedby="" required
                                            placeholder="Enter Archive Segment Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archiving</label>
                                        <!-- <input type="text" class="form-control" id="archiving" aria-describedby="" placeholder="Enter Archiving"> -->
                                        <select id="archiving" class="custom-select">
                                            <option selected>Select Archiving</option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Length</label>
                                        <input type="number" class="form-control" id="archivelength" aria-describedby=""
                                            autocomplete="off" required placeholder="Enter Archive Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">iss Minimum Fragment Length</label>
                                        <input type="number" class="form-control" id="iss_minimum_fragment_length"
                                            autocomplete="off" aria-describedby="" required
                                            placeholder="Enter iss Minimum Fragment Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Hls Minimum Fragment Length</label>
                                        <input type="number" class="form-control" id="hls_minimum_fragment_length"
                                            autocomplete="off" aria-describedby="" required
                                            placeholder="Enter hls Minimum Fragment Length">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Event Id</label>
                                        <input type="text" class="form-control" id="Object-Id" autocomplete="off"
                                            aria-describedby="" required placeholder="Enter Event Id">
                                    </div>
                                </div>

                            </div> -->

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Hls No Audio only</label>
                                        <select id="hls_no_audio_only" class="custom-select">
                                            <option selected>Select hls no audio only</option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <label class="switch">
                                        <label for="exampleInputEmail1" class="pl-5">Termination Policy</label>
                                        <input type="checkbox" id='termination-checkbox' onclick="checktermination()">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn custome-button waves-effect create_channel btn-sm">Create
                                Channel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- create Backup channel moadal box -->
        <div class="modal fade" id="backupchannel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalScrollableTitle">Create Backup Channel</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='backup-channel-creation-form' data-parsley-validate novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Backup Server</label>
                                        <input type="text" class="form-control" id="backupservernmae"
                                            aria-describedby="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name Of Channel</label>
                                        <input type="text" class="form-control" id="backup-channel-name"
                                            aria-describedby="" placeholder="Name Of Channel">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Creator</label>
                                        <input type="text" class="form-control" id="backup-creator" aria-describedby=""
                                            placeholder="Enter Creator">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lookahead Fragments</label>
                                        <input type="number" class="form-control" id="backup-lookahead-fragments"
                                            aria-describedby="" placeholder="Enter Lookahead Fragmentsn">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">DVR Window Length</label>
                                        <input type="number" class="form-control" id="backup-dvr-window-length"
                                            aria-describedby="" placeholder="Enter DVR Window Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Segment Length</label>
                                        <input type="number" class="form-control" id="backup-archive-segment-length"
                                            aria-describedby="" placeholder="Enter Archive Segment Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archiving</label>
                                        <input type="text" class="form-control" id="backup-archiving"
                                            aria-describedby="" placeholder="Enter Archiving">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Length</label>
                                        <input type="number" class="form-control" id="backup-archive-length"
                                            aria-describedby="" placeholder="Enter Archive Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">iss Minimum Fragment Length</label>
                                        <input type="number" class="form-control"
                                            id="backup-iss_minimum_fragment_length" aria-describedby=""
                                            placeholder="Enter iss Minimum Fragment Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">hls Minimum Fragment Length</label>
                                        <input type="number" class="form-control"
                                            id="backup-hls_minimum_fragment_length" aria-describedby=""
                                            placeholder="Enter hls Minimum Fragment Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Hls No Audio only</label>
                                        <input type="text" class="form-control" id="backup-hls_no_audio_only"
                                            aria-describedby="" placeholder="Enter hls no audio only">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Channel Deletion Policy</label>
                                    <div class="form-group" id="updateBackupToggle">

                                        <!-- <input type="text" class="form-control" id="backupDeletion-Protection"
                                  aria-describedby="" placeholder="Enter backup deletion Protection"> -->
                                        <!-- <select id="updateDeletion-Protection" class="custom-select"></select> -->
                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                class="btn custome-button waves-effect create_backup_channel btn-sm">Create Backup
                                Channel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModalbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-delete-form' data-parsley-validate novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name Of Channel</label>
                                <input type="text" class="form-control" id="delete-channel-name" aria-describedby=""
                                    placeholder="Name Of Channel">
                            </div>

                            <button type="submit" data-dismiss="modal" class="btn btn-color delete_channel">Delete
                                Channel</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button> -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="delete-Protection-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form id='channeldeleteProtectionform' data-parsley-validate novalidate>

                            <label for="exampleInputEmail1">Change Deletion Protection</label>

                            <p>Are you sure that you would like to enable deletion protection for the channel</p>
                            <div class="form-group">

                                <select id="TerminationPolicy" class="custom-select">
                                    <option selected>Select</option>
                                    <option value="Enable">Enable</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </div>


                            <button type="submit" data-dismiss="modal" class="btn btn-color">Yes, Enable</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button> -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="UpdateModalbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalScrollableTitle">Update Channel</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-updation-form' data-parsley-validate novalidate>
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name Of Channel</label>
                                        <input type="text" class="form-control" id="update-channel-name"
                                            aria-describedby="" placeholder="Name Of Channel">

                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Creator</label>
                                        <input type="text" class="form-control" id="update-creator" aria-describedby=""
                                            placeholder="Enter Creator">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lookahead Fragments</label>
                                        <input type="text" class="form-control" id="update-lookahead-fragments"
                                            aria-describedby="" placeholder="Enter Lookahead Fragmentsn">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">DVR Window Length</label>
                                        <input type="text" class="form-control" id="update-dvr-window-length"
                                            aria-describedby="" placeholder="Enter DVR Window Length">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Segment Length</label>
                                        <input type="text" class="form-control" id="update-archive-segment-length"
                                            aria-describedby="" placeholder="Enter Archive Segment Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archiving</label>
                                        <input type="text" class="form-control" id="update-archiving"
                                            aria-describedby="" placeholder="Enter Archiving">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Length</label>
                                        <input type="text" class="form-control" id="update-archive-length"
                                            aria-describedby="" placeholder="Enter Archive Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Restart on Encoder Reconnect</label>
                                        <input type="text" class="form-control" id="update-Restart-Encoder-Reconnect"
                                            aria-describedby="" placeholder="Enter Restart on Encoder Reconnect">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">iss Minimum Fragment Length</label>
                                        <input type="text" class="form-control" id="update-iss-Minimum-Fragment-Length"
                                            aria-describedby="" placeholder="Enter iss Minimum Fragment Length">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">hls Minimum Fragment Length</label>
                                        <input type="text" class="form-control" id="update-hls-Minimum-Fragment-Length"
                                            aria-describedby="" placeholder="Enter hls Minimum Fragment Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Server</label>
                                        <select id="update-server-Ip" class="custom-select"></select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Channel Deletion Policy</label>
                                    <div class="form-group" id="updateToggle">

                                        <!-- <input type="text" class="form-control" id="updateDeletion-Protection"
                                        aria-describedby="" placeholder="Enter hls Minimum Fragment Length"> -->

                                        <!-- <label class="switch">
                                            <input type="checkbox" id='updationtermination-checkbox'>
                                            <span class="slider"></span>
                                          </label> -->
                                        <!-- <select id="updateDeletion-Protection" class="custom-select"></select> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">hls No Audio Only</label>
                                    <input type="text" class="form-control" id="update-hls-No-Audio-Only"
                                        aria-describedby="" placeholder="Enter hls No Audio Only">
                            </div>
                            </div>

                            <button type="submit"
                                class="btn custome-button waves-effect update_channel_parameter btn-sm ">Update Primary
                                Channel</button>
                            <button type="submit"
                                class="btn custome-button waves-effect update_channel_parameter_both btn-sm"
                                style="margin-left: 27%;">Update both
                                Channel</button>

                        </form>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Preview video modal content -->
        <div id="play-video-channel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">
                            <i class="mdi mdi-play-speed"></i>Preview Channel
                        </h4>

                        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                            onclick="player.reset()">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="divPlayVideo">
                                <video id="channelurlplayer"
                                    class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls
                                    preload="auto" height="350" data-setup='{"liveui": true}'>
                                    <source src="" type="">
                                </video>
                                <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                            onclick="player.reset()">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- end page title -->

        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->





<% include ./partials/right-sidebar.html %>

<% include ./partials/foot.html %>

<% include ./partials/footer.html %>

<script src="../assets/libs/switchery/switchery.min.js"></script>

<script src="../../custom/js/create_channel/create_channel.js"></script>

</body>

</html>