<% include /partials/header.html %>

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    /* CSS for tooltip */
    .save-copy-info {
        font-size: 1rem;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }

    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }

    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    .tab-content {
        padding: 20px;
        border: 2px solid #dee2e6;
        border-top: none;
    }

    .content-detail dt,
    .content-detail dd {
        padding: .55rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #dee2e6;
    }

    /* .align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
} */
    .dropdown-menu.show {
        top: 37% !important;
        right: 45px !important;
        min-width: 6rem !important;
        transform: translate3d(-169px, -127px, 0px) !important
    }

    .force-hidden {
        display: none;
    }
</style>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 51px;
        height: 28px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<% include /partials/topbar.html %>


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">
        <!-- <div class="row">
            <i class="mdi mdi-close-circle" style="font-size: 27px;" id="getdataclose"></i>
            </div>
        </div> -->
        <!-- start page title -->
        <div class="row">
            <div class="col-md-12" id="channel-listing-div">
                <div class="card-box">
                    <div class="p-2" style="float: left;">
                        <h4 class="mt-0 header-title">Resource Record Set Listing</h4>
                    </div>
          

                    <div class="p-2" style="float: right;">
                      
                        <% if (userRole == 'Admin' || userRole == 'Operator') { %>
                         
                                    <% } else if(userRole == 'Monitoring') { %>
                                                    
                                       
    
                                        <% }  %>

                    </div>

                    <div class="table-responsive">
                        <table class="table tablesorter" id="resourceRecord_listing_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Record Name</th>
                                 
                                    <th>Type</th>
                                    <th>Record ID</th>
                                    <th>Weight</th>
                                    <th>TTL</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody id="resourceRecord_listing_tbody">

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

         
        </div> <!-- end row -->

    



      

  


        <!-- end page title -->

        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


<!-- Update Event modal content -->
<div id="migrateEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Weight Record
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card-box">
                    <form id="update-parameter" enctype="multipart/form-data" method="post">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="simpleinput"> Weight </label>
                               

                                    <input type="number" min="0" max="1" id="weight" 
                                    class="form-control" autocomplete="off" name="Weight" placeholder="Enter Weight Value"
                                    required />
                               
                                      
                                </div>


                                <!-- <div class="form-group">
                                    <label class="col-form-label" for="simpleinput"> Weight </label>
                               

                                    <input type="text" id="updateServerIP" 
                                    class="form-control" autocomplete="off" name="Weight" placeholder="Enter Weight Value"
                                    required />
                               
                                      
                                </div> -->

                                <div class="form-group mt-2">
                                    <button parsley-trigger="change" id="parameter_Update" name="parameter_Update"
                                        value="parameter_Update" type="submit" class="btn btn-dark waves-effect waves-light btn-sm"> <i
                                            class="fas fa-cloud-upload-alt"></i> <span>Update</span>
                                    </button>
                                </div>



                            </div>


                        </div>


                    </form>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% include ./partials/right-sidebar.html %>

<% include ./partials/foot.html %>

<% include ./partials/footer.html %>

<script src="../assets/libs/switchery/switchery.min.js"></script>

<script src="../../custom/js/route53/route53.js"></script>

</body>

</html>