<% include /partials/header.html %>

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    /* CSS for tooltip */
    .save-copy-info {
        font-size: 1rem;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }

    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    .custome-button {
        background-color: white !important;
        color: #097bd3 !important;
        border: 1px solid #097bd3 !important;
    }

    .custome-button:hover {
        background-color: #097bd3 !important;
        color: white !important;
    }

    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    .tab-content {
        padding: 20px;
        border: 2px solid #dee2e6;
        border-top: none;
    }

    .content-detail dt,
    .content-detail dd {
        padding: .55rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #dee2e6;
    }

   
    .dropdown-menu.show {
        top: 19% !important;
        right: 45px !important;
        min-width: 6rem !important;
    }
</style>



<% include /partials/topbar.html %>


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="channel-listing-div">
                <div class="card-box">
                    <div class="p-2" style="float: left;">
                        <h4 class="mt-0 header-title">Stop Channel Listing</h4>
                    </div>
                    <div class="p-2" style="float: right;">
                        <button type="button" class="btn custome-button waves-effect width-md refresh btn-sm"><i
                            class="mdi mdi-refresh  mr-1"></i><span>Refresh</span></button>
                        </div>
                    <div class="table-responsive">
                        <table class="table tablesorter" id="stoppedbackup_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Creation Date</th>
                                    <th>Server Name</th>
                                    <th>State</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody id="stoppedbackup_tbody">

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class="col-md-4 force-hidden mb-4" style="height:477px;overflow-y:auto;background-color: white;"
                id="edit-asset-div">

                <!-- <div class=""> -->
                <i class="mdi mdi-close-circle" style="font-size: 27px;" id="close-edit-metadata-panel-btn"></i>
                <!-- </div> -->

                <div class="row">
                    <div class="col-md-11">
                        <h4 id="edit-asset-title" style="margin: 6px 0;"></h4>
                    </div>
                </div>

                <!-- <div class="" >
                            <video id="asset-player" class="video-js vjs-big-play-centered w-100" controls preload="auto"
                                height="200">
                                <source src="" type="">
                            </video>
                          
                        </div> -->

                <ul class="nav nav-tabs nav-justified mt-2">
                    <li class="nav-item">
                        <a href="#technical-data" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block"><i class="mdi mdi-square-edit-outline mr-1"></i>Channel
                                Details</span>
                        </a>
                    </li>
                </ul>

                <div class="" style="display:visible! important">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="technical-data">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 force-hidden"  id="getquery">
               
                <div class="row">
                    <i class="mdi mdi-close-circle" style="font-size: 27px;" id="getdataclose"></i>
                    </div>
                    <div id="getquerydata"></div>
                    <!-- <div class="row"> -->
            </div>
        </div> <!-- end row -->



        <div id="myModalbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-delete-form' data-parsley-validate novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name Of Channel</label>
                                <input type="text" class="form-control" id="delete-channel-name" aria-describedby=""
                                    placeholder="Name Of Channel">
                            </div>

                            <button type="submit" data-dismiss="modal" class="btn btn-color delete_channel">Delete
                                Channel</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button> -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="UpdateModalbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalScrollableTitle">Update Channel</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='channel-updation-form' data-parsley-validate novalidate>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name Of Channel</label>
                                        <input type="text" class="form-control" id="update-channel-name"
                                            aria-describedby="" placeholder="Name Of Channel">

                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Creator</label>
                                        <input type="text" class="form-control" id="update-creator" aria-describedby=""
                                            placeholder="Enter Creator">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lookahead Fragments</label>
                                        <input type="text" class="form-control" id="update-lookahead-fragments"
                                            aria-describedby="" placeholder="Enter Lookahead Fragmentsn">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">DVR Window Length</label>
                                        <input type="text" class="form-control" id="update-dvr-window-length"
                                            aria-describedby="" placeholder="Enter DVR Window Length">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Segment Length</label>
                                        <input type="text" class="form-control" id="update-archive-segment-length"
                                            aria-describedby="" placeholder="Enter Archive Segment Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archiving</label>
                                        <input type="text" class="form-control" id="update-archiving"
                                            aria-describedby="" placeholder="Enter Archiving">
                                        <!-- <select class="custom-select mt-3">
                                            <option id="update-archiving" selected>Select Archiving</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                          
                                        </select> -->
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Archive Length</label>
                                        <input type="text" class="form-control" id="update-archive-length"
                                            aria-describedby="" placeholder="Enter Archive Length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Restart on Encoder Reconnect</label>
                                        <input type="text" class="form-control" id="update-Restart-Encoder-Reconnect"
                                            aria-describedby="" placeholder="Enter Restart on Encoder Reconnect">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">iss Minimum Fragment Length</label>
                                        <input type="text" class="form-control" id="update-iss-Minimum-Fragment-Length"
                                            aria-describedby="" placeholder="Enter iss Minimum Fragment Length">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">hls Minimum Fragment Length</label>
                                        <input type="text" class="form-control" id="update-hls-Minimum-Fragment-Length"
                                            aria-describedby="" placeholder="Enter hls Minimum Fragment Length">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Server</label>
                                        <select id="update-server-Ip" class="custom-select"></select>
                                    </div>

                                </div>
                                <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Bacakup Server</label>
                                    <select id="backup-update-server-Ip" class="custom-select"></select>
                                </div>
                                
                                </div> -->
                                <!-- <div class="row"> -->
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div id="updatedivcheckbox">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Backup Server Name</label>
                                        <select  id="update-backupserver-div" class="custom-select">
                                            <!-- <option selected="">Backup Server Name</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                        <label for="exampleInputEmail1">Object Id</label>
                                        <input type="text" class="form-control" id="update-Object-Id" aria-describedby="" placeholder="Enter Object Id">
                                        
                                    </div> -->

                            <button type="submit"
                                class="btn custome-button waves-effect update_channel_parameter btn-sm">Update
                                Channel</button>
                        </form>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Preview video modal content -->
        <div id="play-video-channel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">
                            <i class="mdi mdi-play-speed"></i>Preview Channel
                        </h4>

                        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                            onclick="player.reset()">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="divPlayVideo">
                                <video id="channelurlplayer"
                                    class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls
                                    preload="auto" height="350" data-setup='{"liveui": true}'>
                                    <source src="" type="">
                                </video>
                                <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                            onclick="player.reset()">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- end page title -->

        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->





<% include ./partials/right-sidebar.html %>

<% include ./partials/foot.html %>

<% include ./partials/footer.html %>


<script src="../../custom/js/analytics/stopBackupChannelListing.js"></script>

<!-- <script src="../../custom/js/analytics/analytics_common.js"></script> -->

</body>

</html>