<% include /partials/header.html %>

<style>
    .navbar-custom {
        height: 58px !important;
    }

    .navigation-menu>li>a:active,
    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        color: #fff;
    }

    .navigation-menu>li>a:focus,
    .navigation-menu>li>a:hover {
        background-color: rgba(18, 67, 142, 0.5);
    }

    a {
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }
</style>

<body>
    <% include /partials/topbar.html %>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                 
                    <div class="card-box">
                        <div class="row">
                        <div class="col-md-12">

                            <div class="p-1" style="float: left;">
                                <h4 class="header-title mt-0 mb-3">View Source</h4>
                            </div>
                        </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="row">
                              
                                <div class="col-md-3">
                                    <h5>Primary Channel</h5>
                                    <select  id="view_source" class="custom-select">
                                       
                                        <option selected="">select Channel Name</option>
                                    </select>
                                </div>
                                <div class="col-md-9">
                                    <button type="button"
                                        class="btn  btn-success  waves-effect width-md  btn-sm primary view" style="top: 39px;">create
                                        view
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table tablesorter " id="form_table">
                                <thead>
                                    <tr>
                                        <th class="text-center">View Source</th>
                                        
                                        <!-- <th>Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody id="form_tbody">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
         
        </div>
       
    </div>
    



 

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    <% include ./partials/right-sidebar.html %>


    <% include ./partials/foot.html %>


    <% include ./partials/footer.html %>

    <script src="../../custom/js/create_channel/create_channel.js"></script>
    <script src="../../custom/js/create_channel/view_source.js"></script>

</body>

</html>