.dashboard-active {
    background-color:#3d4655;
}

.delete {
    color:#ff5b5b;
    display: none;
    position: absolute;
    top: 21px;
    right: 21px;
}

.font-icon-detail:hover .delete {
    display: block
}
