
    .media-connect-active {
        background-color: #3d4655;
    }

    .refresh {
        padding-right: 56px;
        margin-right: -12px;
        padding-top: -3px;
        padding-bottom: -14px;
        margin-top: 1px;
        margin-bottom: -6px;
        font-weight: 600;
        font-size: 10px;

    }

    .waves-effect {
        float: right;
        margin-left: 121px;
        width: 95px;
        height: 29px;
        padding-top: 7px;
        margin-top: 10px;
        background-color: #1111;
        color: #f8f8f9;
        border-color: #adb5bd;

    }

    .refresh1 {
        top: -9px;
        left: 7px;
        font-weight: 500;
    }
