.navbar-custom{
    background-color: #097bd3;
}

.navigation-menu>li>a {
    display: block;
    color: #ffff;
    font-size: 15px;
    font-family: Karla,sans-serif;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 17px;
    padding: 20px;
    position: relative;
}

.btn-color{

    color: #fff;
    background-color: #097bd3;
    border-color: #097bd3;

}

body.authentication1-bg {
    background-image: url("../images/big/img4.jpg") !important;
    background-size: cover;
    background-position: center;
}